
<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" data-counttheme="e">
<% notes.each do |note| %>
  <%user = User.find(note.user_id) if User.exists?(note.user_id)%>
  <li>
		<%if user.login == 'lopo' -%>
		<img src="/images/cherry.jpg" class="ui-li-icon"/>
		<%else -%><img src="/images/sunflower.jpg" class="ui-li-icon"/><%end -%>
		<h3><%=link_to "  #{note.message}", note %></h3>
		<div class='ui-li-count'>
		  <%=translate_time(note.updated_at) %>
		</div>
	</li>
<% end %>
</ul>
<%= will_paginate notes %>