<%content_for :header do -%>
   <h1>微博</h1>
	 <%= link_to 'Add', new_note_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
<%end -%>

<%= render :partial => 'list', :locals=>{:notes => @notes} %>

<%#= will_paginate notes %>
<div class="morelink">
  <% if @page %>
    <a href="/?page=<%=@page+1%>"><%=@page+1%>下一页</a>
  <% end %>
</div>
