<%content_for :header do -%>
   <h1>微博</h1>
	 <%= link_to 'Add', new_note_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
<%end -%>

<%= render :partial => 'list', :locals=>{:notes => @notes} %>
